.mono .modal-body {
  font-family: monospace;
  max-height: 70vh;
  overflow-y: auto;
}

.underscript-dialog fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid silver;
}

.underscript-dialog legend {
  padding: 0;
  border: 0;
  width: auto;
  margin: 0;
  font-family: DTM-Mono, sans-serif;
  color: white;
}

/*
.underscript-dialog .modal-content {
  background: #000 url(../images/backgrounds/2.png) -380px -135px;
}
.underscript-dialog .modal-content .modal-header,
.underscript-dialog .modal-body {
  background-color: transparent;
}
*/

.underscript-dialog .modal-footer button.btn {
  margin-bottom: 5px;
}
